*{
    font-family: 'Oswald', sans-serif;
}

body {
    background-color: #ffffff;
    color: #000000;
    
    font-family: 'Oswald', sans-serif;
  }

  
  body.dark ,.average-heading,.subText-heading,.exchange-name,.table-text{
    background-color: #191d28;
    color: #ffffff;
    
  }


  .navbar {
   
    padding: 10px;
  }


  .theme-button {
    background-color: #f2f2f2;
    color: #000000;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

 
  .theme-button.dark {
    background-color: #191d28;
    color: #ffffff;
    
  }
.container-fluid
{
    display: flex;
    
}
.Curr_button
{
    display: inline-flex;
    margin-left: 12rem;
    
}
h4 .pointer
{
    font-size: large;
}
.btn
{
    display: flex;
    margin: 10px;
    padding: 8px 20px;
    border-radius: 10px;
    background: #2e3241;
    color: white;
    border-color:transparent;
    font-size: medium;
}

.Tel-button .btn i{
margin-top: 4px;
margin-right: 5px;
}
.Tel-button .btn
{
    display: flex;
    margin: 10px;
    margin-left: 200px;
    padding: 4px 13px;
    border-radius: 10px;
    background: #3dc6c1;
    color: white;
    border-color:transparent;
    font-size: medium;
}
.align-items-center {
    align-items: center;
}
.justify-content-around {
    justify-content: space-around;
}
.d-flex {
    display: flex;
}
.average-header-subHeading {
    font-size: 20px;
    color: lightslategray;
}


.average-header-maintext {
    font-weight: 400;
    font-size: 40px;
    color: #3dc6c1;
}
.average-subText {
    font-weight: 400;
    color: #fff;
    opacity: .45;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: .75px;
}
.subText-heading {
    font-size: 28px;
}
.text-center {
    text-align: center;
}
.average-heading {
    font-weight: 400;
    font-size: 80px;
    color: #fff;
}
.theme-dark .fiat-crypto-table table {
    width: 100%;
    max-width: 100%;
    border-collapse: separate;
    border-spacing: 0 1em;
    margin: 0;
}
.theme-dark .fiat-crypto-table td {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
.exchange-logo {
    height: 24px;
    width: 24px;
    border-radius: 50%;
}
 th {
    color: gray;
    padding: 0 12px;
    font-size: large;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
 .fiat-crypto-table td {
    color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.exchange-name {
    padding-left: 15px;
}
 td h4 {
    font-family: Oswald;
    font-size: 24px;
    margin: 0;
    opacity: 1;
}
 td a {
    color: #fff;
}
h4.table-text
{
    text-decoration: none;
}